 body{

font-family: Arial;
text-align:center;
background:#222;
color:white;

}

h1{

margin-top:40px;

}

.container{

display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap:40px;
width:600px;
margin:50px auto;

}

.card{

background:#333;
padding:30px;
border-radius:10px;
font-size:20px;
box-shadow:0px 5px 20px rgba(0,0,0,0.4);

}
